body{
    background-color: rgb(233, 233, 233);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5%;
}

fieldset{
    background-color: rgb(252, 182, 182);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border: 4px solid rgb(255, 136, 136);
}

#errormsg{
    color: rgb(255, 0, 0);
}

.Head{
    background-color: rgb(255, 136, 136);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 6px solid rgb(255, 136, 136);
}

.Fn{
    background-color: rgb(255, 136, 136);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 4px solid rgb(255, 136, 136);
}

.button1{
    background-color: #4CAF50;
    border-radius: 10px;
}

.button2{
    background-color: #c8c9c8;
    border-radius: 10px;
}
